<div class="card text-dark mb-3">
    <h5 class="card-header">{{nome}}</h5>
    <div class="card-body">
        {{cpf}}
        <hr>
        {{contato}}
    </div>
        <div class="btn-group mt-3" role="group">
            <a href="{{URL}}/editar-pessoa/{{id}}" class="btn btn-primary">Editar</a>
            <button class="btn btn-danger" onclick="deletarPessoa(id)">Excluir</button>
        </div>
</div>

<script>
    function deletarPessoa(id) {
        if (confirm("Tem certeza que deseja excluir esta pessoa?")) {
            fetch(`{{URL}}/deletar-pessoa/${id}`, {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                if (data.message) {
                    alert(data.message);
                } else {
                    throw new Error('Invalid response from server.');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>
