<h1>Contatos</h1>

<div class="input-group rounded">

    <form action="" method="post" onsubmit="return false;">

        <div class="form-group mb-3">
            <label>Digite o nome do contato a buscar</label>
            <input type="text" id="search-input" class="form-control" name="nome" required>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success" id="search-button">Buscar</button>
        </div>

    </form>
</div>

<hr>

<section id="contatos">

    {{contatos}}

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-button').click(function() {
            var searchQuery = $('#search-input').val().toLowerCase();

            $('.card').each(function() {
                var pessoaName = $(this).find('.card-header').text().toLowerCase();
                var pessoaCpf = $(this).find('.card-body').text().toLowerCase();
                
                if (pessoaName.includes(searchQuery) || pessoaCpf.includes(searchQuery)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>