<div class="jumbotron bg-danger p-3 my-3">

    <h1>Magazord Backend Test</h1>

    <a href="{{URL}}"><button class="btn btn-light">Home</button></a>
    <a href="{{URL}}/pessoas"><button class="btn btn-light">Pessoas</button></a>
    <a href="{{URL}}/criar-pessoas"><button class="btn btn-light">Adicionar uma pessoa</button></a>
    <a href="{{URL}}/contatos"><button class="btn btn-light">Contatos</button></a>
    <a href="{{URL}}/criar-contatos"><button class="btn btn-light">Criar um contato</button></a>

</div>