<h1>Pessoas</h1>

<div class="input-group rounded">
    <form action="" method="post">

        <div class="form-group mb-3">
            <label>Digite o nome da pessoa a buscar</label>
            <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Criar</button>
        </div>

    </form>
</div>
<hr>
<section id="pessoas">

    <div class="card text-dark mb-3">
        <h5 class="card-header">Pedro C</h5>
        <div class="card-body">
            {{name}}
            <hr>
            {{cpf}}
        </div>
    </div>

</section>